body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  border: 0;
}

.hero-header {
  width: 100%;
  height: 100vh;
  background-color: #081826;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header .content {
  width: 100%;
}

.hero-header .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header h1 {
  width: 800px;
  height: 60px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .hero-header h1 {
    width: 630px;
    font-size: 48px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .hero-header h1 {
    width: 630px;
    font-size: 40px;
    margin: 0 16px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .hero-header h1 {
    width: 260px;
    font-size: 34px;
  }
}

.hero-header h3 {
  width: 300px;
  height: 120px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.hero-header .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .hero-header .btn {
    margin-top: 40px;
  }
}

.hero-header .link {
  padding: 20px 80px;
  background-color: #30f2f2;
  text-decoration: none;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  color: #081826;
  font-size: 20px;
  z-index: 10;
}

.hero-header .link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .hero-header .link {
    margin-top: 32px;
  }
}

.hero-header span {
  color: #30f2f2;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .hero-header .scroll_icon {
    width: 8%;
  }
}

.hero-header .scroll-down-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.about-me {
  width: 100%;
  padding: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

.about-me .description-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me .first-row {
  width: 60%;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .first-row {
    width: 100%;
    margin: 120px 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .first-row {
    width: 100%;
    margin: 48px 0;
  }
}

.about-me .title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: #081826;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .about-me .title {
    font-size: 28px;
  }
}

.about-me .me {
  margin: 0 180px 8px;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .about-me .me {
    margin: 0 80px 8px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .me {
    margin: 0 100px 8px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .me {
    margin: 0 32px 8px;
  }
}

.about-me .description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  text-align: left;
  color: #081826;
  margin: 0 180px;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .about-me .description {
    margin: 0px 80px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .description {
    margin: 0px 100px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .description {
    margin: 0px 32px;
  }
}

.about-me .second-row {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .second-row {
    width: 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .second-row {
    width: 100%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-me .my-photo {
  width: 48%;
  margin: 100px;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .about-me .my-photo {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .about-me .my-photo {
    margin: 32px;
  }
}

.skills {
  background-color: #f4f4f4;
  width: 100%;
  height: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .skills {
    height: unset;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .skills {
    height: unset;
  }
}

.skills .technology {
  width: 100%;
}

.skills .row-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 180px;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .skills .row-skills {
    margin: 0 80px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .skills .row-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 24px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .skills .row-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px 24px;
  }
}

.skills .box-list {
  padding: 60px;
  background-color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-right: 16px solid #f4f4f4;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .skills .box-list {
    padding: 40px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .skills .box-list {
    border-bottom: 16px solid #f4f4f4;
    border-right: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .skills .box-list {
    border-bottom: 16px solid #f4f4f4;
    border-right: 0;
  }
}

.skills .coding-skills {
  font-size: 20px;
  font-weight: 600;
  line-height: 2.4;
  text-align: left;
  color: #081826;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .skills .coding-skills {
    font-size: 16px;
  }
}

.skills hr {
  border: 0.5px solid #081826;
  opacity: .1;
  margin: 24px 0;
}

.skills ul {
  list-style: none;
}

.portfolio-section .portfolio {
  margin: 98px 180px 8px;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .portfolio-section .portfolio {
    margin: 98px 80px 8px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .portfolio-section .portfolio {
    margin: 98px 80px 8px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .portfolio-section .portfolio {
    margin: 98px 32px 8px;
  }
}

.portfolio-section .title {
  font-size: 34px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  color: #081826;
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .portfolio-section .title {
    font-size: 28px;
  }
}

.portfolio-section .three-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .portfolio-section .three-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
  .portfolio-section .three-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 500px) and (max-width: 900px) {
  .portfolio-section .white-space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio-section .box {
  width: 100%;
}

.portfolio-section .sizing {
  width: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  .portfolio-section .sizing:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  .portfolio-section .sizing:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

footer {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .gap {
  margin: 16px;
}

footer .phone {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: normal;
  color: #081826;
  text-decoration: none;
  text-align: center;
}

footer .hover {
  margin: 16px;
  -webkit-transition: -webkit-transform .10s;
  transition: -webkit-transform .10s;
  transition: transform .10s;
  transition: transform .10s, -webkit-transform .10s;
}

@media only screen and (min-width: 1366px) and (max-width: 1920px) {
  footer .hover:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1366px) {
  footer .hover:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */